In [2]:
import pandas as pd
from tabula import read_pdf

In [12]:
df = pd.read_csv("tabula-2024-06-FY25-MBTA-Budget.csv")

In [ ]:
cleaned_df = df[['Unnamed: 0', 'FY23 Actuals', 'FY24 Budget', 'FY25 Budget']]
cleaned_df[['FY23 Actuals', 'FY24 Budget', 'FY25 Budget']]= cleaned_df[[ 'FY23 Actuals', 'FY24 Budget', 'FY25 Budget']].str.replace(' ', '')
cleaned_df.to_excel('2025.xlsx')
print(cleaned_df)

,Unnamed: 0,Unnamed: 1,FY23 Actuals,Unnamed: 3,FY24 Budget,FY25 Budget
0,REVENUES,NaN,NaN,NaN,NaN,NaN
1,Operating Revenues,NaN,NaN,NaN,NaN,NaN
2,"Fares, all modes",$,3 76.4,$,418.5,$403.0
3,Own-Source,NaN,6 9.6,NaN,82.4,79.8
4,- Advertising,NaN,20.1,NaN,23.7,18.1
5,- Parking,NaN,23.4,NaN,31.5,33.8
6,- Real Estate,NaN,18.8,NaN,19.8,20.6
7,- Other Operating,NaN,7.3,NaN,7.3,7.3
8,Total Operating Revenue,NaN,4 46.0,NaN,500.9,482.8
9,Non-Operating Revenues,NaN,NaN,NaN,NaN,NaN
10,Dedicated Sales Tax,NaN,"1 ,406.7",NaN,"1,463.5","1,465.4"
11,Dedicated Local Assessments,NaN,1 83.8,NaN,188.4,193.1
12,Other Income,NaN,3 6.5,NaN,22.9,22.9
13,Federal Funds,NaN,1 0.3,NaN,31.4,191.0
14,Safety Directives-Add'l Assistance,NaN,6 5.5,NaN,249.4,45.0
15,State Contract Assistance,NaN,1 87.2,NaN,192.0,314.0
16,Total Non-Operating,NaN,"1,890.0",NaN,"2,147.4","2,231.4"
17,TOTAL REVENUES,$,"2 ,335.9",$,"2,648.3","$2,714.2"
18,EXPENSES,NaN,NaN,NaN,NaN,NaN
19,Operating Expenses,NaN,NaN,NaN,NaN,NaN
20,Regular Wages,$,4 91.8,$,639.7,$744.2
21,Overtime,NaN,6 2.7,NaN,44.3,58.7
22,Total Wages,NaN,5 54.5,NaN,684.0,802.8
23,Pensions,NaN,1 29.3,NaN,154.3,207.7
24,Healthcare,NaN,1 01.4,NaN,107.2,120.8
25,Health & Welfare Fund,NaN,1 9.9,NaN,19.6,21.2
26,Other Fringe,NaN,1 3.7,NaN,15.5,16.4
27,Payroll Taxes,NaN,4 5.9,NaN,56.0,68.1
28,Total Benefits & Taxes,NaN,3 10.2,NaN,352.7,434.2
29,Materials,NaN,5 0.5,NaN,73.9,83.1
30,Services,NaN,1 62.7,NaN,259.2,298.9
31,Fuel,NaN,2 1.0,NaN,19.6,18.0
32,Utilities,NaN,4 1.1,NaN,61.2,54.0
33,Contract Cleaning,NaN,3 0.1,NaN,40.0,43.4
34,Materials and Services,NaN,3 05.4,NaN,453.9,497.4
35,Insurance,NaN,2 0.5,NaN,34.3,39.9
36,Purchased Commuter Rail Service,NaN,5 00.7,NaN,522.7,578.3
37,- Fixed Price,NaN,3 53.9,NaN,364.5,373.6
38,- Extra Work & Services,NaN,8 9.0,NaN,107.0,150.8
39,- Fuel,NaN,4 6.5,NaN,39.3,42.0
40,- PRIIA (NECC),NaN,1 1.2,NaN,11.8,11.8
41,Purchased Local Service Subsidy,NaN,1 31.2,NaN,152.4,188.7
42,- THE RIDE,NaN,1 07.6,NaN,127.1,157.8
43,- Ferry Services,NaN,1 9.7,NaN,21.7,25.8
44,- Other LSS,NaN,3 .9,NaN,3.6,5.1
45,Financial Service Charges,NaN,8 .9,NaN,11.1,13.2
46,Total Operating Expenses,$,"1 ,831.4",$,"2,211.2","$2,554.5"
47,Debt Service,NaN,NaN,NaN,NaN,NaN
48,Interest,NaN,2 15.0,NaN,247.3,163.5
49,Principal Payments,NaN,2 75.5,NaN,269.6,303.3
50,Lease Payments,NaN,-,NaN,-,-
51,Total Debt Service,$,4 90.5,$,516.9,$466.8
52,TOTAL EXPENSES,$,"2 ,322.0",$,"2,728.1","$3,021.3"
53,Net Revenue/Expenses,$,1 4.0,$,( 79.8),$(307.0)
54,Transfers,NaN,NaN,NaN,NaN,NaN
55,Transfers in From Other Funds,$,(8.9),$,( 261.2),$(307.0)
56,Transfers Out to Other Funds,$,-,$,181.0,$-
57,Net Rev/Exp,$,2 2.8,$,0.4,$(0.0)
58,Fare Recovery Ratio,NaN,20.5%,NaN,18.9%,15.8%